.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--secondaryDark);
  width: 100%;
  padding: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  width: 100%;
  gap: 0.3rem;
}

.inputArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3rem;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.fieldLabel {
  width: 10rem;
  text-align: right;
  height: 100%;
  align-content: center;
}

.field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  font-size: medium;
  color: var(--primaryTextColor);
  background-color: var(--secondaryBgLight);
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1.2rem;
}

.inputFieldContainerOtherMessage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
}

.errorMessage {
  color: var(--primary);
  background-color: var(--errorBg);
  font-size: 0.7rem;
  margin-top: 0.1rem;
}
