.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 1rem;
  background-color: var(--secondaryBg);
}

.sectionTitle {
  color: var(--secondaryDark);
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 1rem;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  color: var(--secondaryDark);
  text-align: center;
  width: 12rem;
  height: 20rem;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  background-color: var(--secondaryBgLight);
}

.cardTitle {
  width: 100%;
  font-size: x-large;
  text-align: center;
  font-weight: normal;
}

.cardText .serviceType {
  width: 100%;
  font-size: middle;
  text-align: center;
  text-shadow: 2px 2px 4px var(--secondaryDark);
}

.buttonContainer {
  width: 100%;
}

.stars {
  color: var(--secondaryDark);
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    font-size: 1.6rem;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    width: 90%;
    gap: 0.2rem;
    height: auto;
  }

  .cardTitle {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600) and (max-width: 820px) {
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
