.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: auto;
  padding: 1rem;
  background-color: var(--secondaryBackground);
}

.subContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 2.2fr 1fr;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  color: var(--secondaryTextDark);
  text-align: center;
  width: 12rem;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  background-color: var(--secondaryBackgroundDark);
}

.middleContainer {
  border-right: 1px solid var(--primaryBackgroundLight);
  border-left: 1px solid var(--primaryBackgroundLight);
}

.client {
  width: 100%;
  font-size: middle;
  text-align: center;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px var(--secondaryTextDark); */
}

.descriptionText .serviceType {
  width: 100%;
  padding-top: 0.5rem;
  font-size: middle;
  text-align: center;
  text-shadow: 2px 2px 4px var(--secondaryTextDark);
}

.buttonContainer {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
      flex-direction: column;
    justify-content: center;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--primaryText);
  }

  .title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .servicesText {
    font-size: small;
    text-align: left;
    text-shadow: 2px 2px 4px var(--secondaryTextDark);
  }
}
