.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryBackgroundDark);
  padding: 1rem 1rem 2rem 1rem;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondaryTextDark);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--secondaryTextDark);
}

.leftCard {
  align-items: flex-end;
  border-right: 1px solid var(--secondaryTextDark);
}

.inCard {
  padding-left: 1rem;
  padding-right: 0rem;
}

.rightCard {
  align-items: flex-start;
}

.title {
  font-size: 1.8rem;
  padding: 1rem;
}

.servicesText {
  font-weight: 500;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .container {
    height: auto
  }
  .subContaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem;
  }

  .title {
    padding: 1rem;
    font-size: 1.6rem;
  }

  .servicesText {
    font-size: medium;
    padding: 0.5rem;
  }
}
