.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--primary);
}

.card {
  text-align: center;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  background-color: var(--primaryBgDark);
}
