:root {
  --primaryBg: #e87fc9;
  --primaryBgDark: #a43e7f;
  --secondaryBg: white;
  --secondaryBgLight: #f7c4df;
  --errorBg: #c11414;

  --primary: white;
  --primaryDark: #2a021d;
  --secondary: #e349c2;
  --secondaryLight: #936885;
  --secondaryDark: #623954;
  --highLighted: #f7c4df;
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  color: var(--primaryTextColor);
  background: var(--secondaryBg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.primaryButton {
  color: var(--primary);
  background-color: var(--secondaryDark);
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: medium;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: var(--primary);
  color: var(--secondaryDark);
  border: 1px solid var(--secondaryDark);
}

h1 {
  text-align: center;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  line-height: 1.8;
}

li {
  line-height: 1.8;
}
