
:root {
  --primaryBackgroundLight: #e87fc9;
  --primaryBackgroundDark: #a43e7f;
  --secondaryBackground: white;
  --secondaryBackgroundDark: #fdabd7;
  --primaryText: white;
  --secondaryText: #e349c2;
  --secondaryTextLight: #936885;
  --secondaryTextDark: #623954;
  --highlightedText: yellow;
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  color: var(--primaryTextColor);
  background: var(--secondaryBackground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.primaryButton {
  color: var(--primaryText);
  background-color: var(--secondaryTextDark);
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--primaryTextColor);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size:medium;
  cursor: pointer;
}
