.page {
  display:flex;
  align-items: center;
  justify-items: center;
  color: var(--secondaryText);
  background-color: var(--secondaryBackground);
}

.main {
  display: flex;
  flex-direction: column;
}

