.page {
  display:flex;
  align-items: center;
  justify-items: center;
  color: var(--secondary);
  background-color: var(--secondaryBg);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

