.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: var(--primaryBackgroundDark);
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.verticalContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  gap: 0.5rem;
  text-align: center;
}

.text {
  color: var(--primaryText);
  font-size: xx-large;
  text-align: center;
  text-shadow: 2px 2px 4px (--secondaryTextDark);
}

.highlightedText {
  font-size: xx-large;
  color: var(--secondaryBackgroundDark);
  text-align: center;
  text-shadow: 2px 2px 4px (--highlightedText);
}

.textAndIconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  width: 100%;
  color: var(--primaryText);
  font-size: medium;
}

.iconsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  width: 100%;
  color: var(--primaryText);
  font-size: medium;
}

.icon {
  display: flex;
  justify-content: right;
  padding-right: 0.5rem;
}

.copyright {
  font-size: small;
}

.largeScreen {
  display: block;
}

.mobileScreen {
  display: none;
}

@media screen and (max-width: 600px) {
  .largeScreen {
    display: none;
  }

  .mobileScreen {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--primaryBackgroundDark);
  }

  .verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .horizontalContainer {
    font-size: small;
  }

  .highlightedText {
    font-size: large;
    color: var(--highlightedText);
    text-align: center;
    text-shadow: 2px 2px 4px (--highlightedText);
  }

  .text {
    color: var(--primaryText);
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 4px (--secondaryTextDark);
  }

  .copyright {
    font-size:x-small;
  }
}
