.navigationContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
}

.routePath {
  cursor: pointer;
  font-weight: bold;
  color: var(--primaryText);
  text-shadow: 2px 2px 2px var(--secondaryTextDark);
}

.routePath:hover {
  color: var(--highlightedText);
  font-weight: bold;
  font-size: large;
}

.currentPath {
  color: var(--highlightedText);
  font-weight: bold;
  text-decoration: underline;
   text-shadow: 2px 2px 2px var(--secondaryTextDark);
}

@media screen and (max-width: 600px) {
  .navigationContainer {
    position: absolute;
    top: 2.5rem;
    left: 15%;
    width: 70%;
    opacity: 95%;
    background-color: var(--primaryBackgroundLight);
    border-top: 2px solid var(--primaryText);
  }

  .routePath {
    padding-top: 0.5rem;
    border-bottom: 0.1px solid var(--primaryText);
  }

    .currentPath {
    padding-top: 0.5rem;
    text-decoration:none ;
  }
}
