.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--primary);
  background-color: var(--secondaryDark);
  width: 100%;
}

.description {
  width: 80%;
  padding: 1rem;
  font-size: large;
  text-align: justify;
}

.descriptionTitle {
  font-size: 2rem;
  font-weight: normal;
  width: 92%;
  padding: 1rem;
}

.decoration {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 40%;
  border-top: 1px solid var(--primary);
}

.links {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .description {
    width: 100%;
    font-size: 1rem;
  }

  .descriptionTitle {
    font-size: 1.5rem;
    font-weight: normal;
    width: 92%;
  }

  .decoration {
    width: 92%;
  }
}

@media screen and (min-width: 600) and (max-width: 820px) {
  .description {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
  }
}
