.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: var(--secondaryDark);
  width: 100%;
  text-align: center;
  line-height: 1.8rem;
  padding: 1rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  width: 70%;
  padding: 5rem;
  font-size: large;
  color: var(--secondaryDark);
  text-align: justify;
  line-height: 1.8rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1.2rem;
}

.imageFrame {
  display: flex;
  position: relative;
  height: 400px;
  width: 500px;
}

.imageStyle {
  object-fit: fill;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  /*  iPhone */
  .container {
    padding: 0rem 1rem 0rem 1rem;
  }

  .descriptionContainer {
    flex-direction: column;
    line-height: 1.8rem;
  }

  .description {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }

  .imageContainer {
    width: 100%;
    height: 400px;
    padding: 0;
  }

  .imageFrame {
    height: 300px;
    width: 250px;
  }
}

@media screen and (min-width: 600) and (max-width: 1024px) {
  /*  iPad */
  .container {
    padding: 0rem 1rem 0rem 1rem;
  }

  .descriptionContainer {
    flex-direction: column;
    line-height: 1.8rem;
  }

  .description {
    width: 100%;
    font-size: 1.4rem;
    padding: 2rem 3rem 0rem 3rem;
  }

  .imageContainer {
    width: 100%;
    height: 400px;
    padding: 0;
    margin-top: 1rem;
  }

  .imageFrame {
    height: 400px;
    width: 350px;
  }
}
